@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+SC:wght@300&display=swap');


body {
    background-color: white;
    font-size: 18px;
    font-family: 'Noto Sans SC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', serif;
}

main {}

header {
    /*    width: 100%;*/
    margin: 0.625rem;
}

/*navigation styling*/
nav {
    float: right;
    margin-top: 1.125em;
}

nav ul {}

nav ul li {
    display: inline-block;
    margin: 2rem 0.15rem;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.4em 0.625em;
}

nav ul li a:hover {
    background-color: antiquewhite;
    /*    border i use px for all border*/
    border-bottom: 0px;
}

/*footer styling*/
footer {
    background-color: gray;
}

/*MEDIA STYLING IN THE FOOTER*/
.media-link {
    float: right;
}

/*Media icon */
.facebook,
.instagram {
    width: 2.5em;
    height: 2.5em;
}

.facebook img:hover,
.intagram img:hover {
    cursor: pointer;
}

.p-footer {
    padding: 0.625em 0.625em;
    text-align: center;
}

footer h3 {
    padding: 1.5rem;
    margin: 0;
    float: left;
}

.list-footer {
    width: 100%;
    text-align: center;
    clear: both;
}

.list-footer li {
    display: inline-block;

}

.list-footer li a {
    padding-left: 1.25em;
    padding-top: 1.25em;
    text-decoration: none;
    color: black;
}

.list-footer li a:hover {
    color: antiquewhite;
}

/*logo*/
h1 {
    font-size: 2.25em;
    padding: 1.25rem 0.625rem;
    background-color: antiquewhite;
    display: inline-block;
}

h1 a {
    text-decoration: none;
    font-size: 90%;
    letter-spacing: 0.0825rem;
    word-spacing: 0.4125rem;
}

h1 a:hover {
    color: #DB7093;
    cursor: pointer;
}

/*HEADING STYLING*/
h2 {
    clear: both;
    font-size: 1.9em;
    color: darkslategray;
    font-weight: 100;
    padding: 2em 0 0.3125em 0;
    /*    border i use px for all border*/
    border-bottom: 3px double red;
    text-align: center;
    /*    letter and word spacing need to change to rem*/
    word-spacing: 0.2875rem;
    letter-spacing: 0.0825rem;
}

main h3 {
    margin: 5rem 0 2.2rem 0;
}

h3 {
    font-size: 1.75em;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.2875rem;
}

/*PARAGRAPH STYLING*/

p {
    margin: 0 auto;
    line-height: 1.8rem;
    margin: 1.25em 0;
}

.pool {
    padding-bottom: 7rem;
}

/*IMAGES STYLING*/
main img {
    width: 100%;
}

.body-image {
    width: 100%;
    margin: 1.25em 0;
    border: 15px solid #DAC7CF;
    background: #DAC7CF;
}

main img {
    box-sizing: border-box;
    display: inline-block;
}

.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-2-col .right-image {
    width: 100%;
    height: auto;
    float: unset !important;
}

/*HERO CONTENT IN HOME PAGE STYLING*/
.page-title {
    background-image: url(../images/churchill-house-4.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: red;
}

/*APPLY OVERLAY ON IMAGE*/
.page-title .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: :100%;
    background: #5B574E;
    opacity: 0.7;
}

.page-title h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48%;
    color: #57138a;
    border-bottom: 0;
    font-size: 3em;
}

/*HIDDEN THE IMAGE BUT THE IMAGE STILL IN HERE*/
.page-title img {
    visibility: hidden;
    filter: grayscale();
    height: 100%;
    margin-top: 1.875em;
}

/*WRAPPER CONTAIN ALL THE ELEMENTS*/
.wrapper {
    max-width: 1200px;
    /*    padding: 3.5rem;*/
    padding: 1rem 5.5rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/*UNORDER LIST STYLING IN THE MAIN*/
main ul {
    list-style: square inside none;
    margin: 0;
    padding-left: 5em;
    margin-bottom: 1.25em;
}

main ul li {
    line-height: 1.875em;
    font-style: italic;
}

p,
main li {
    text-align: justify;
}

/*CURRENT PAGE STYLING*/
.current-page {
    border-bottom: 3px solid #b18b9b;
}

/*NEXT PAGE, PREVIOUS PAGE STYLING*/
.next,
.previous {
    text-decoration: none;
}

.next:hover,
.previous:hover {
    color: #DB7093;
}

.footer-navigation {
    height: 1.25em;
    padding: 1.25em 0;
}

.footer-navigation .left {
    float: left;
    width: 45%;
}

.footer-navigation .right {
    float: right;
    width: 45%;
    text-align: right;
}

/*IMAGE TO BE FLOATED TO LEFT OR RIGHT*/
.left-image {
    float: right;
    width: 50%;
    height: 50%;
    padding: 0.3125em 1.25em;
}

.right-image {
    float: left;
    width: 50%;
    height: 50%;
    padding: 0.3125em 1.25em;
}


/*  BACK TO TOP */
.back-top .hidden {
    visibility: hidden;
    line-height: 0px;
    padding-bottom: 0.625em;
}

div.button {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-top .button a {
    position: relative;
    top: -3px;
    padding: 0 !important;
}

.back-top .button {
    width: 3.75em;
    height: 3.75em;
    background-color: grey;
    border-radius: 100%;
}

.back-top .button:hover {
    background-color: antiquewhite;
    border-radius: 0;
    border-color: antiquewhite;
}

.back-top .button a {
    font-size: 2.5em;
    padding: 3.125em 0em 0.625em 0.26em;
}

.back-top {
    margin: 1.25em;
    flex-wrap: wrap;
    display: flex;

}

/*BODY lINK STYLING*/
.external-link {
    text-decoration: none;
}

.external-link:hover {
    text-decoration: underline;
}

a {
    color: purple;
    text-decoration: none;
}

/*information page*/
.information-ul {
    margin: 0.625em 2.5em;
}

.information-ul li a {
    text-decoration: none;
}

.information-ul li a:hover {
    color: #b18b9b;
}

.information-ul li {
    padding: 0.625em 0em;
}

.contact-us ul {
    margin: 0.625em 2.5em;
}

.contact-us ul li {
    margin: 0.625em 0;
}

.contact-us ul li a {
    text-decoration: none;
}

.contact-us ul li a:hover {
    text-decoration: underline;
}

.contact-img {
    text-align: center;
    width: 100%;
}

.contact-img img {
    width: 20%;
}

/*USING GRID FOR DISPLAY IMAGES*/
.information-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* fr = fractional unit	*/
    grid-gap: 2.5rem;
}

.first,
.second {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625em 0.625em;
/*    margin: 1.25em 0;*/
}

.about-us img,
.first,
.second {
    border: 5px solid #DAC7CF;
    background: #DAC7CF;
}

.information-page ul {
    list-style: inside none;
    padding-left: 1.25em;
}

/*list next to image to reduce padding left*/
.list-next-image ul {
    padding-left: 2.5em;
}

/*quote */
.quote {
    text-align: center;
    color: #211738;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 550;
    padding: 0.3125em 0;
    /*    border i use px for all border*/
    border-top: 1px double #211738;
    border-bottom: 1px double #211738;
}

/*responsive device I USED PX TO EASY TO ADJUST*/
@media screen and (max-device-width:1200px) {
    .wrapper {
        width: 90%;
        padding: 20px;
    }

    nav {
        float: none;
        text-align: center;
    }

    h1 {
        /*        display: flow-root;*/
        display: block;
        text-align: center;
        padding: 1.25rem 0.625rem;
    }
}

@media screen and (max-device-width:1024px) {
    .pool {
        padding:0;
    }
}

/*TABLET SIZES*/
@media screen and (max-device-width:768px) {

    .grid-2-col {
        grid-template-columns: 1fr;
    }

    .wrapper {
        padding: 20px;
    }

    .information-img {
        grid-template-columns: 1fr;
/*        grid-gap: 0;*/
    }

    .left-image,
    .right-image {
        float: none;
        width: 100%;
        padding: 0.0625em 0.0625em;
    }

    main ul {
        padding-left: 2rem;
    }

    nav {
        float: none;
        text-align: center;
    }

    h1 {
        display: block;
        text-align: center;
        padding: 1.25rem 0.625rem;
    }
}

/*MOBILE SIZES*/
@media screen and (max-device-width:425px) {
    nav {
        text-align: center;
    }

    .page-title h2 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0%;
        color: #57138a;
        border-bottom: 0;
        font-size: 1.75em;
    }

    .wrapper {
        padding: 20px;
    }

    footer h3 {
        float: none;
    }

    .media-link p {
        clear: both;
        text-align: center;
    }

    .media-link {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 2em;
    }

    .p-footer {
        text-align: center;
    }

    h1 {
        font-size: 1.75em;
        padding: 1em 0.625em;
    }

    main ul {
        padding-left: 1rem;
    }
}
